.row
  .col-lg-12.slideshow
    =render 'caro'
/.row
/  .col-md-3.panel-popular
/      =render 'panelpopular'
/  .col-md-6.panel-review
/      =render 'panelreview'
/  .col-md-3.panel-berita
/      =render 'panelberita'

