.page-popular {
  padding-left: 0px;
  padding-right: 0px;
}
.page-popular-location {
  margin-top: 50px;
  .img-responsive {}
  .panel-heading {
    background-color: #4183D7;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    .panel-title {
      text-align: center;
      font-weight: 800;
      color: #FFFFFF;
    }
  }
  .panel-body {
    padding: 0px 0px;
  }
  .popular {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.page-album {
  padding-left: 0px;
  padding-right: 0px;
}
