.login-admin {
  margin-top: 50px;
  .panel-login-admin {
    box-shadow: 0 0px 0px 0px rgba(39, 19, 19, 0.3), 0 -0px 0px 0px rgba(39, 19, 19, 0.3), -12px 0 10px -4px rgba(114, 114, 114, 0.29), 12px 0 10px -4px rgba(114, 114, 114, 0.29);
    margin-top: 50px;
    margin-bottom: 216px;
    a {
      color: #239995;
    }
    .btn {
      background-color: #239995;
      color: white;
      font-weight: 800;
      &:hover,
      &:focus {
        background-color: #155C59;
        color: #FFFFFF;
      }
    }
    .panel-heading {
      background-color: #173e43;
      .panel-title {
        font-weight: 800;
        color: white;
      }
    }
    .panel-body {
      .form-group {
        .link-login {
          float: left;
        }
      }
    }
    .panel-footer {
      background-color: #173e43;
      font-weight: 800;
      color: white;
    }
  }
}
.signup-admin {
  margin-top: 50px;
  .panel-signup-admin {
    box-shadow: 0 0px 0px 0px rgba(39, 19, 19, 0.3), 0 -0px 0px 0px rgba(39, 19, 19, 0.3), -12px 0 10px -4px rgba(114, 114, 114, 0.29), 12px 0 10px -4px rgba(114, 114, 114, 0.29);
    margin-top: 50px;
    margin-bottom: 222px;
    .btn {
      background-color: #239995;
      color: white;
      font-weight: 800;
      &:hover,
      &:focus {
        background-color: #155C59;
        color: #FFFFFF;
      }
    }
    .panel-heading {
      background-color: #173e43;
      .panel-title {
        font-weight: 800;
        color: white;
      }
    }
    .panel-body {
      .form-group {
        .link-login {
          float: left;
        }
      }
    }
    .panel-footer {
      background-color: #173e43;
      font-weight: 800;
      color: white;
    }
  }
}
.login-traveler {
  margin-top: 50px;
  .panel-login-traveler {
    box-shadow: 0 0px 0px 0px rgba(39, 19, 19, 0.3), 0 -0px 0px 0px rgba(39, 19, 19, 0.3), -12px 0 10px -4px rgba(114, 114, 114, 0.29), 12px 0 10px -4px rgba(114, 114, 114, 0.29);
    margin-top: 50px;
    margin-bottom: 216px;
    a {
      color: #239995;
    }
    .btn {
      background-color: #239995;
      color: white;
      font-weight: 800;
      border-radius: 0;
      width: auto;
      height: auto;
      &:hover,
      &:focus {
        background-color: #155C59;
        color: #FFFFFF;
      }
    }
    .panel-heading {
      background-color: #173e43;
      .panel-title {
        font-weight: 800;
        color: white;
      }
    }
    .panel-body {
      .form-group {
        .link-login {
          float: left;
        }
      }
    }
    .panel-footer {
      background-color: #173e43;
      font-weight: 800;
      color: white;
    }
  }
}
.sign-up-traveler {
  margin-top: 50px;
  .panel-sign-traveler {
    box-shadow: 0 0px 0px 0px rgba(39, 19, 19, 0.3), 0 -0px 0px 0px rgba(39, 19, 19, 0.3), -12px 0 10px -4px rgba(114, 114, 114, 0.29), 12px 0 10px -4px rgba(114, 114, 114, 0.29);
    margin-top: 50px;
    margin-bottom: 185px;
    .btn {
      background-color: #239995;
      color: white;
      font-weight: 800;
      &:hover,
      &:focus {
        background-color: #155C59;
        color: #FFFFFF;
      }
    }
    .panel-heading {
      background-color: #173e43;
      .panel-title {
        font-weight: 800;
        color: white;
      }
    }
    .panel-body {
      .form-group {
        .link-login {
          float: left;
        }
      }
    }
    .panel-footer {
      background-color: #173e43;
      font-weight: 800;
      color: white;
    }
  }
}
.login-guide {
  margin-top: 50px;
  .panel-login-guide {
    box-shadow: 0 0px 0px 0px rgba(39, 19, 19, 0.3), 0 -0px 0px 0px rgba(39, 19, 19, 0.3), -12px 0 10px -4px rgba(114, 114, 114, 0.29), 12px 0 10px -4px rgba(114, 114, 114, 0.29);
    margin-top: 50px;
    margin-bottom: 216px;
    a {
      color: #239995;
    }
    .btn {
      background-color: #239995;
      color: white;
      font-weight: 800;
      &:hover,
      &:focus {
        background-color: #155C59;
        color: #FFFFFF;
      }
    }
    .panel-heading {
      background-color: #173e43;
      .panel-title {
        font-weight: 800;
        color: white;
      }
    }
    .panel-body {
      .form-group {
        .link-login {
          float: left;
        }
      }
    }
    .panel-footer {
      background-color: #173e43;
      font-weight: 800;
      color: white;
    }
  }
}
.signup-guide {
  margin-top: 50px;
  .panel-signup-guide {
    box-shadow: 0 0px 0px 0px rgba(39, 19, 19, 0.3), 0 -0px 0px 0px rgba(39, 19, 19, 0.3), -12px 0 10px -4px rgba(114, 114, 114, 0.29), 12px 0 10px -4px rgba(114, 114, 114, 0.29);
    margin-top: 50px;
    margin-bottom: 185px;
    .btn {
      background-color: #239995;
      color: white;
      font-weight: 800;
      &:hover,
      &:focus {
        background-color: #155C59;
        color: #FFFFFF;
      }
    }
    .panel-heading {
      background-color: #173e43;
      .panel-title {
        font-weight: 800;
        color: white;
      }
    }
    .panel-body {
      .form-group {
        .link-login {
          float: left;
        }
      }
    }
    .panel-footer {
      background-color: #173e43;
      font-weight: 800;
      color: white;
    }
  }
}
.forgot-password {
  margin-top: 50px;
  .panel-forgot {
    box-shadow: 0 0px 0px 0px rgba(39, 19, 19, 0.3), 0 -0px 0px 0px rgba(39, 19, 19, 0.3), -12px 0 10px -4px rgba(114, 114, 114, 0.29), 12px 0 10px -4px rgba(114, 114, 114, 0.29);
    margin-top: 50px;
    margin-bottom: 330px;
    .btn {
      background-color: #239995;
      color: white;
      font-weight: 800;
      &:hover,
      &:focus {
        background-color: #155C59;
        color: #FFFFFF;
      }
    }
    .panel-heading {
      background-color: #173e43;
      .panel-title {
        font-weight: 800;
        color: white;
      }
    }
    .panel-body {
      .form-group {
        .link-login {
          float: left;
        }
      }
    }
    .panel-footer {
      background-color: #173e43;
      font-weight: 800;
      color: white;
    }
  }
}
