.scrollToTop {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #ffffff;
  .btn-success {
    background-color: #239995;
    border-color: #239995;
    &:hover,
    &:focus {
      background-color: #155C59;
      color: #FFFFFF;
    }
  }
}
.scrollToTop:hover {
  text-decoration: none;
}
