@import "bootstrap-sprockets";
@import "bootstrap";
@import "lightbox";

/* variables */

@import "base/_base.scss";
@import "komponen/_navbar.scss";
//@import "komponen/_navbarheading.scss";
@import "komponen/_carousel.scss";
@import "komponen/_panelreview.scss";
@import "komponen/_panelpopular.scss";
@import "komponen/_panelevent.scss";
@import "komponen/_setrow.scss";
@import "komponen/_footer.scss";
@import "komponen/_homevideo.scss";
@import "komponen/_button.scss";
@import "page_daerah_kategori/_listwisata.scss";
@import "wisata/_header.scss";
@import "wisata/_kolominformasi.scss";
@import "wisata/_popularlocation.scss";
@import "hotel/_halamanhotel.scss";
@import "panel/_alluser.scss";
@import "panel/_panel.scss";
@import "css/_about.scss";
@import "css/_table.scss";
@import "users.scss";
@import "beritas.scss";
@import "guides.scss";
@import "_alert.scss";
@import "_scroll.scss";
@import "icons.scss";
@import "sarans.scss";
@import "lightbox.min.scss";
