.guide-profile {
  .data-guide {
    margin-top: 25px;
    .panel-info > .panel-heading {
      color: #1aa6b7;
      background-color: #002d40;
      border-color: #bce8f1;
    }
  }
  hr {
    border-color: #DADADA -moz-use-text-color -moz-use-text-color;
    margin-bottom: 0px;
  }
  h4 {
    color: #239995;
    font-weight: 800;
  }
  .panel-title {
    color: white;
  }
  .nama-guide {
    color: #FFFFFF;
  }
}
