.review-side {
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(65, 65, 65, 0.19);
  padding-bottom: 5px;
}
.nama-periview {
  a {
    font-weight: 600;
    color: #198bcb;
  }
}
.tgl-tweet {
  text-align: right;
  color: gray;
}
.nama-wisata-direview {
  font-size: small;
  .namawisata {
    color: #198bcb;
  }
}
