.profile-traveler {
  .data-traveler {
    position: fixed; //ini dibikin fix jadinya kalo dikecilin jadi engga responsive
    border: 2px solid rgba(128, 128, 128, 0.5);
  }
  .review-traveler {
    margin-left: 450px;
  }
  hr {
    border-color: #DADADA -moz-use-text-color -moz-use-text-color;
    margin-bottom: 0px;
  }
  h4 {
    color: #1aa6b7;
    font-weight: 800;
  }
}
